@if(TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      @TempData["success"]
    </div>
}
@if(TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      @TempData["error"]
    </div>
}