@model List<UserGroup>
<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h1>
                Users Group List
            </h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="UserGroup" asp-action="Upadd" class="btn btn-primary btn-lg">
                Add New User Group
            </a>
        </div>
    </div>
    <table id="tabData" class="table table-bordered table-striped text-center" style="width:100%">
        <thead>
            <tr class="text-center">
                <th class="table-warning text-center">User Group Description</th>
                <th class="table-primary text-center">User Group Member</th>
                <th class="table-danger text-center">User Group Created Date</th>
                <th class="table-info text-center">State</th>
                <th></th>
                @*<th>
                    <a asp-controller="UserGroup" asp-action="Delete" class="btn btn-primary mx-2">
                        <i class="bg-info bi-pencil"></i> Edit
                    </a>
                    <a asp-controller="UserGroup" asp-action="Delete" class="btn btn-danger mx-2">
                        <i class="bg-info bi-trash"></i> Delete
                    </a>
                </th>*@
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/usergroup.js"></script>
}