@model UserGroupVM
<h1>@(Model.UserGroup.Id!=0?"Edit":"Create") User Group</h1>
<form method="post" enctype="multipart/form-data">
    <input asp-for="UserGroup.Id" hidden />
    <input asp-for="UserGroup.CreatedDate" hidden/>
    <input asp-for="UserGroup.Code" hidden/>
    <input asp-for="UserGroup.ImageUrl" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"></h2> 
            <hr/>
        </div>
        <div class="mg-3 row p-1">
            <label asp-for="UserGroup.Description" class="p-0"></label>
            <input asp-for="UserGroup.Description"  class="form-control"></input>
        </div>
        <div class="mg-3 row p-1">
            <label asp-for="UserGroup.MemberId" class="p-0"></label>
            <select asp-for="@Model.UserGroup.MemberId" asp-items="@Model.UserList">
                <option disabled selected>--Select User--</option>
            </select>
            <label asp-for="UserGroup.MemberId" class="p-0"/>
            <span asp-validation-for="UserGroup.MemberId" class="text-danger"></span>
        </div>
        <div class="mg-3 row p-1">
            <label asp-for="UserGroup.ImageUrl" class="p-0"></label>
            <input type="file" name="file" class="form-control text-secondary"></input>
            
        </div>
        <div class="mg-3 row p-1">
            <div class="col-2">
                <img src="@Model.UserGroup.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bf3fd9"
            </div>
        </div>
        <div>
            <a asp-controller="UserGroup" asp-action="Index" class="btn btn-secondary mt-4 btn-lg float-end" style="width:150px">
                Back
            </a>
            @if(Model.UserGroup.Id != 0)
            {
                <button type="submit" class="btn btn-primary mt-4 btn-lg float-end form-control" style="width:150px">Update</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary mt-4 btn-lg float-end form-control" style="width:150px">Add</button>
            }
        </div>
        
    </div>
</form> 

@section Scripts{
@*    <script>     /// это была попытка прикрутить tinymce, но нафиг она тут не нужна в данном случае, а так прикольная тема (лепим textarea на нужный блок и вауля) (еще в _Layout'e надо скрипт прибубенить чтоб работало)
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons lists visualblocks wordcount checklist mediaembed casechange formatpainter pageembed a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
  </script>*@
    @{
    <partial name ="_ValidationScriptsPartial"/>
    }

}